name: Build and Test Web

on:
  pull_request:
    branches:
      - master
    paths:
      - "web/**"

  workflow_dispatch:

env:
  WORKING_DIRECTORY: ./web

jobs:
  build-and-test-lz:
    runs-on: ubuntu-latest
    permissions:
      packages: read

    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Building Web codebase
        uses: ./.github/workflows/actions/build-web
        with:
          working_directory: ${{ env.WORKING_DIRECTORY }}
          node_version: ${{ matrix.node-version }}
