name: Publish Openshift Images

on:
  workflow_dispatch:
  push:
    paths:
      - "docker/openshift/**"
      - "openshift/**"

env:
  GITHUB_IMAGE_REPO: ghcr.io/bcgov/jasper
  SRC_PATH: ../../docker/openshift

permissions:
  id-token: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Deploy Images
    strategy:
      matrix:
        dockerfile-image:
          - Dockerfile=./docker/openshift/Dockerfile.sync-secrets,image=sync-secrets
          - Dockerfile=./docker/openshift/Dockerfile.update-aws-creds,image=update-aws-creds

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Log in to the GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver: docker

      - name: Parse Dockerfile and Image Name
        id: parse
        run: |
          echo "Dockerfile: ${{ matrix.dockerfile-image }}"
          DOCKERFILE=$(echo "${{ matrix.dockerfile-image }}" | cut -d',' -f1 | cut -d'=' -f2)
          IMAGE=$(echo "${{ matrix.dockerfile-image }}" | cut -d',' -f2 | cut -d'=' -f2)
          echo "DOCKERFILE=$DOCKERFILE" >> $GITHUB_ENV
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Setup Image Metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.GITHUB_IMAGE_REPO }}/${{ env.IMAGE }}
          tags: |
            type=raw,value=latest

      - name: Build and Push Image to ghcr.io
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          provenance: false
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ env.DOCKERFILE }}
          build-args: |
            SRC=${{ env.SRC_PATH }}